# Зависимости
/node_modules
/.pnp
.pnp.js

# Локальные настройки
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Среда разработки
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Сборка
/dist
/.cache
/build
/coverage

# Кэш
.eslintcache

# Типы
/typings

# Настройки Babel
/.babelcache

# Настройки Jest
/jest-report.json